@model List<KategoriModel>
@{

}

@foreach(var kateogori in Model)
{
<li class="nav-item">
    <a class="nav-link" asp-action="Kategori" asp-controller="Home" asp-route-id="@kateogori.Id">
        <i class="fa-fw fas fa-align-justify"></i>
        <span >@kateogori.Ad</span>
    </a>
</li>
}



