@using MvcWebUI.Settings
@model YorumViewModel
@{
}
<div class="row d-flex justify-content-center">
    <div class="accordion" id="accordionPanels" style="max-width: 30rem;">
        <div class="accordion-item">
            <h2 class="accordion-header" id="headingOne">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                    Yorum Yaz
                </button>
            </h2>
            <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    <div class="row d-flex justify-content-center">
                        <div class="card border-0">
                            <form asp-controller="Yorum" asp-action="YorumYaz" enctype="multipart/form-data">
                                @Html.AntiForgeryToken()
                                <div class="card-body text-primary">
                                    <div class="mb-3">
                                        <div asp-validation-summary="All" class="text-danger"></div>
                                        <label class="form-label">Başlık</label>
                                        <input asp-for="YorumModel.Baslik" type="text" class="form-control" id="YorumBaslik" placeholder="Başlık">
                                    </div>
                                    <div class="mb-3">
                                        <label class="form-label">Yorum</label>
                                        <textarea asp-for="YorumModel.Icerik" class="form-control" id="YorumIcerik" rows="3"></textarea>
                                    </div>
                                    <div class="mb-3">
                                        <label for="formFileSm" class="form-label">Resim Yükle</label>
                                        <input class="form-control form-control-sm" name="imaj" type="file" accept="@AppSettings.ImajDosyaUzantilari">
                                    </div>
                                    <div>
                                        <div class="mb-3">
                                            <label class="form-label">Kategoriler</label>
                                            <select asp-for="YorumModel.KategoriId" class="form-control" id="Kategoriler" asp-items="ViewBag.Kategoriler">
                                                <option value="">-- Kategori Seçiniz --</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-footer text-center">
                                    <button type="submit" class="btn-sm btn-primary">Yorum Yaz</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

